In [6]:
import pandas as pd
data = [{'cd_propriedade': 1, 'descricao': 'GERAL', 'abreviatura': 'GERAL', 'cidade': None, 'proprietario': 1, 'deposito_padrao': 1, 'dt_baixa': None, 'cd_tanque_padrao': None, 'hash_objeto': None, 'usuario_criacao_id': None, 'updated_at': '2022-12-26T08:34:53.000-03:00', 'guid': '6501ccea-5c76-e04b-9213-7c0e15317995', 'st_ativo': 'S', 'mapa_url': None, 'config': {'action': 'update', 'gpa_code': '18475', 'model': 'Propriedade', 'origin': 'api', 'tenant': 'lomaplata-api'}}, {'cd_propriedade': 1, 'descricao': 'GERAL', 'abreviatura': 'GERAL', 'cidade': None, 'proprietario': 1, 'deposito_padrao': 1, 'dt_baixa': None, 'cd_tanque_padrao': None, 'hash_objeto': None, 'usuario_criacao_id': None, 'updated_at': '2022-12-26T08:34:53.000-03:00', 'guid': '6501ccea-5c76-e04b-9213-7c0e15317995', 'st_ativo': 'S', 'mapa_url': None, 'config': {'action': 'update', 'gpa_code': '18475', 'model': 'Propriedade', 'origin': 'api', 'tenant': 'lomaplata-api'}}]

df = pd.DataFrame.from_dict(data)

df.head()

,cd_propriedade,descricao,abreviatura,cidade,proprietario,deposito_padrao,dt_baixa,cd_tanque_padrao,hash_objeto,usuario_criacao_id,updated_at,guid,st_ativo,mapa_url,config
0,1,GERAL,GERAL,None,1,1,None,None,None,None,2022-12-26T08:34:53.000-03:00,6501ccea-5c76-e04b-9213-7c0e15317995,S,None,"{'action': 'update', 'gpa_code': '18475', 'mod..."
1,1,GERAL,GERAL,None,1,1,None,None,None,None,2022-12-26T08:34:53.000-03:00,6501ccea-5c76-e04b-9213-7c0e15317995,S,None,"{'action': 'update', 'gpa_code': '18475', 'mod..."

In [12]:
config_df = pd.Series(df['config'].values).apply(pd.Series)
config_df

   action gpa_code        model origin         tenant
0  update    18475  Propriedade    api  lomaplata-api
1  update    18475  Propriedade    api  lomaplata-api

In [19]:
grouped = config_df.groupby(['gpa_code', 'model', 'origin', 'tenant']).count()
grouped.columns = ['qtde']
grouped

                                           qtde
gpa_code model       origin tenant
18475    Propriedade api    lomaplata-api     2